/NlpToolkit_PosTagger.egg-info/
/lib/python3.7/site-packages/
/.idea/
/bin/
/dist/
PosTagger/__pycache__/__init__.cpython-37.pyc
PosTagger/__pycache__/PosTaggedCorpus.cpython-37.pyc
PosTagger/__pycache__/PosTaggedWord.cpython-37.pyc
